<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  
  <configSections>
    <!--日志记录者配置配置节点-->
    <section name="loggerProviderConfiguration" type="Centa.Monitor.Common.LogBImplements.LoggerProviderConfiguration,Centa.Monitor.Common"/>
  </configSections>

  <!--日志记录者配置配置，默认采用log文本记录-->
  <loggerProviderConfiguration type="Centa.Monitor.Common.LogBImplements.Implements.DefaultLogger" assembly="Centa.Monitor.Common"/>

  <!--连接字符串--><!--
  <connectionStrings>
    --><!--日志连接字符串--><!--
    <add name="LogConnection" connectionString="Data Source=.;Initial Catalog=RemoteDB;User Id=sa;Password=123456;"/>
  </connectionStrings>-->

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  
</configuration>